<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='receptionist.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='alert.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>reception | apollo</title>
    <link rel="icon" type="image/x-icon" href="/static/resources/favicon.svg">
    <link rel="preload" as="image" href="/static/resources/body9.svg" />

  </head>
  <body>

    {% for message in get_flashed_messages() %}
    <div id="notif_alert" class="alert alert-primary alert-dismissible fade show fixed-top" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
  </div>
  {% endfor %}
    
    <div id="tempo" class="fluid-container fixed-top">



  <nav class="navbar navbar-expand-md justify-content-center">

    <a href="{{ url_for('views.home') }}" class="navbar-brand m-2">
        <img id="home_icon" src="/static/resources/apollo_logo.svg" alt="">
    </a>

    <span class="mt-2 mr-2 mb-2" style="pointer-events: none; font-size: 12px; text-align: left;"><b>reception</b> <br>department</span>

    <ul class="navbar-nav mx-auto m-0">
    </ul>

    <button class="navbar-toggler ms-auto m-2" type="button" data-toggle="collapse" data-target="#mynav">
      <img style="width: 30px;" src="/static/resources/list.svg" alt="">
    </button>

    <div class="collapse navbar-collapse " id="mynav">
      <ul class="navbar-nav mx-auto">    
        <li class="nav-item m-2">
          <a id="optionlink" class="nav-link" href="{{ url_for('views.generate_bill') }}">generate bill</a>
      </li>
  
          <li class="nav-item m-2">
            <a id="optionlink" class="nav-link" href="{{ url_for('views.doctor') }}">doctor availability</a>
        </li>
  
          <li class="nav-item m-2">
            <a id="optionlink" class="nav-link" href="{{ url_for('views.appointment') }}">appointment records</a>
        </li>
  
  
          <li class="nav-item m-2">
            <a id="active_page" class="nav-link" href="#">patient records</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item m-2">
          <a id="logout_button" class="nav-link" href="{{ url_for('auth.logout') }}">log out</a>
          
        </li>
      </ul>
    </div>

    

    
</nav>
</div>



<div style="margin: 3%" class="fluid-container justify-content-center">
  <div  class="row">
      <div class="col-md-10">
          <div class="box">
            <div class="table-responsive">
                <table class="table table-borderless table-striped table-hover">
                  <thead>
                    <tr>
                      <th id="colored_col" scope="col">patient id</th>
                      <th id="colored_col"scope="col">name</th>
                      <th id="colored_col"scope="col">gender</th>
                      <th id="colored_col"scope="col">date of birth</th>
                      <th id="colored_col"scope="col">email address</th>
                      <th id="colored_col"scope="col">contact number</th>
                      <th id="colored_col"scope="col">home address</th>
                      <th id="colored_col" scope="col">actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in data %}
                    <tr>
                        <th scope="row">{{ data.id }}</th>
                        <td>{{ data.fullname }}</td>
                        <td>{{ data.gender }}</td>
                        <td>{{ data.dob }}</td>
                        <td>{{ data.email }}</td>
                        <td>{{ data.phone }}</td>
                        <td>{{ data.address }}</td>
                        <td>
                          <a id="action_button" class="btn btn-primary" href="{{ url_for('views.update_patient', patient_id=data.id) }}" data-toggle="modal" data-target="#modaledit{{data.id}}">
                            <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/pencil-square.svg" alt="">
                            edit</a>
          
                            <span style="opacity: 0; pointer-events: none;">-</span>
          
                          <a id="action_button" class="btn btn-primary" href="{{ url_for('views.delete_patient', patient_id=data.id) }}" onclick="return confirm('are you sure you want to delete this patient record?')">
                            <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/trash.svg" alt="">
                            delete</a>
                        </td>
                    </tr>
                  
          
          
                  <!-- EDIT MODAL -->
                    <div style="text-align: left;" id="modaledit{{data.id}}" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                          <div style=" padding-left: 5%; padding-right: 5%;" class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" style="font-weight: bold;">edit patient record</h5>    
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                              <div class="modal-body">
                                  <form action="{{ url_for('views.update_patient', patient_id=data.id)}}" method="POST">
                                      <input type="hidden" name="id" value="{{data.id}}">
                                      <div class="form-group">
                                        <label for = fullname>full name:</label> <br>
                                        <input value="{{data.fullname}}" type="text" name="fullname" id="fullname" required>
                                      </div>
                                      <br>
                                      <div class="form-group">
                                        <label for="gender">gender:</label> <br>
                                        <select name="gender" id="gender" required>
                                            <option value="" disabled></option>
                                            <option value="male" {% if patientGender == "Male" %} selected {% endif %}>male</option>
                                            <option value="female" {% if patientGender == "Female" %} selected {% endif %}>female</option>
                                            <option value="other" {% if patientGender == "Other" %} selected {% endif %}>other</option>
                                        </select>
                                      </div>
                                      <br>
                                      <div class="form-group">
                                        <label for="dob">date of birth:</label> <br>
                                        <input  value="{{data.dob}}" type="date" name="dob" id="dob">
                                      </div>
                                      <br>
                                      <div class="form-group">
                                        <label for="email">email address:</label> <br>
                                        <input value="{{data.email}}"  name="email" type="email" id="email" required>
                                      </div>
                                      <br>
                                      <div class="form-group">
                                          <label for="phone">contact number:</label> <br>
                                          <input  value="{{data.phone}}" name="phone" type="text" id="phone" required>
                                      </div>
                                      <br>
                                      <div class="form-group">
                                        <label for="address">home address:</label> <br>
                                        <textarea name="address" id="address" rows="3">{{ data.address }}</textarea>
                                      </div>
                                      <br>
                                      <div style="text-align: center;">
                                        <button id="save_button" type="submit">
                                          <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/floppy.svg" alt="">
                                          update</button>
                                      </div>
                                      
                                    </form>
                              </div>
                          </div>
                      </div>
              
                  </div>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
      </div>






      
      <div id="record_menu" class="col-md-2">
          <div class="box">
              <button id="add_record_button" data-toggle="modal" data-target="#addmodal">
                <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/plus-circle.svg" alt="">
                add patient
              </button>
          
              <p>‎ </p>
          
              <form class="form-inline my-2 my-lg-0" action="{{ url_for('views.search_patient')}}" method="GET">
                <span style="font-size: 12px; padding-left: 5px;">patient name:</span>
                <input id="authenticate_field" type="text" name="patient_name" required>
                <button id="authenticate_button" type="submit">
                  <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/search.svg" alt="">
                  search</button>
              </form>
          
              <a style="display: block;" id="authenticate_button" href="{{ url_for('views.reception') }}">
                <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/stars.svg" alt="">
                clear</a>
          </div>
      </div>
  </div>
</div>







<div id="bottom_menu" class="d-flex flex-row fixed-bottom justify-content-between">
  <li>
    <button id="mini_button" data-toggle="modal" data-target="#addmodal">
      <img style="width: 30px;" src="/static/resources/plus-circle.svg" alt="">
    </button>
  </li>

  <li>
    <form class="form-inline" action="{{ url_for('views.search_patient')}}" method="GET">
      
      <input id="mini_field" type="text" name="patient_name" placeholder="patient name" required>
      <span id="invis_space">-</span>
      <button id="mini_button" type="submit">
        <img style="width: 30px;" src="/static/resources/search.svg" alt=""></button>
    </form>
  </li>

  <li>
    <a style="display: block;" id="mini_button" href="{{ url_for('views.reception') }}">
      <img style="width: 30px;" src="/static/resources/stars.svg" alt=""></a>
  </li>
  </div> 






  
  <!-- ADD MODAL -->
  <div style="text-align: left;" id="addmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div style=" padding-left: 5%; padding-right: 5%;" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " style="font-weight: bold;">add patient record</h5>    
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body">  
                <form action="{{ url_for('views.insert_patient') }}" method="POST">
                    <div class="form-group">
                      <label for = fullname>full name:</label> <br>
                      <input type="text" name="fullname" id="fullname" required>
                    </div>
                      <br>
                    <div class="form-group">
                        <label for="gender"> gender:</label> <br>
                        <select name="gender" id="gender" required>
                            <option value="" disabled selected></option>
                            <option value="male">male</option>
                            <option value="female">female</option>
                            <option value="other">other</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                      <label for="dob">date of birth:</label> <br>
                      <input type="date" name="dob" id="dob">
                    </div>
                    <br>
                    <div class="form-group">
                      <label for="email">email address:</label> <br>
                      <input name="email" type="email" id="email" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="phone">contact number:</label> <br>
                        <input name="phone" type="text" id="phone" required>
                    </div>
                    <br>
                    <div class="form-group">
                      <label for="address">home address:</label> <br>
                      <textarea name="address" id="address" rows="2"></textarea>
                    </div>
                    <br>
                    <div style="text-align: center;">
                      <button id="save_button" type="submit">
                        <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/floppy.svg" alt="">
                        save</button>
                    </div>
                      
                </form>
            </div>
        </div>
    </div>
</div>
    
  
    
  



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>