<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='staff.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='alert.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='web-fix.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/static/resources/favicon.svg">
    <link rel="preload" as="image" href="/static/resources/body9.svg" />
   

  <title>staff | apollo</title>
</head>
<body>
  
  {% for message in get_flashed_messages() %}
  <div id="notif_alert" class="alert alert-primary alert-dismissible fade show fixed-top" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
  </div>
{% endfor %}
    
    


    <div id="tempo_alt" class="fluid-container fixed-top">


      <nav class="navbar navbar-expand-md justify-content-center">

        <a href="{{ url_for('views.home') }}" class="navbar-brand m-2">
            <img id="home_icon" src="/static/resources/apollo_logo.svg" alt="">
        </a>
    
        <span class="mt-2 mr-2 mb-2" style="pointer-events: none; font-size: 12px; text-align: left;"><b>staff & nursing</b> <br>department</span>
    
        <ul class="navbar-nav mx-auto m-0">
        </ul>
    
        <button class="navbar-toggler ms-auto m-2" type="button" data-toggle="collapse" data-target="#mynav">
          <img style="width: 30px;" src="/static/resources/list.svg" alt="">
        </button>
    
        <div class="collapse navbar-collapse " id="mynav">
          <ul class="navbar-nav mx-auto">    

          <li class="nav-item m-2">
            <a id="active_page" class="nav-link" href="#">medical records</a>
        </li>
      
          </ul>
    
          <ul class="navbar-nav ms-auto">
            <li class="nav-item m-2">
              <a id="logout_button" class="nav-link" href="{{ url_for('auth.logout') }}">log out</a>
              
            </li>
          </ul>
        </div>
    </nav>  
    </div>





    <div style="margin: 3%;" class="fluid-container">
      <div class="row">
          <div class="col-md-10">
              <div class="box">
                <div class="table-responsive">
                  <table class="table table-striped table table-hover table-borderless">
                    <thead>
                      <tr>
                        <th id="colored_col" scope="col">medical record id</th>
                        <th id="colored_col" scope="col">patient name</th>
                        <th id="colored_col" scope="col">doctor name</th>
                        <th id="colored_col" scope="col">date & time</th>
                        <th id="colored_col" scope="col">medical test</th>
                        <th id="colored_col" scope="col">actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for data in data %}
                      <tr>
                          <th scope="row">{{ data.id }}</th>
                          <td>{{ data.patient_name }}</td>
                          <td>{{ data.doctor_name }}</td>
                          <td>{{ data.record_timestamp }}</td>
                          <td>{{ data.medical_test }}</td>
                          <td>
                            {% if data.medical_test == 'Blood Test' %}
                              <a href="" id="action_button" class="btn btn-primary" data-toggle="modal" data-target="#modalForBloodTest{{data.id}}">
                                <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/receipt.svg" alt="">
                                generate report</a>
                            {% elif data.medical_test == 'X-ray' %}
                              <a href="" id="action_button" class="btn btn-primary" data-toggle="modal" data-target="#modalForXray{{data.id}}">
                                <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/receipt.svg" alt="">
                                generate report</a>
                            {% elif data.medical_test == 'None' %}
                              <p style="font-weight: bold;">report not required</p>
                            {% endif %}
                          </td>
                      </tr>
                
                
                
                
                
                
                
                      <div id="modalForBloodTest{{data.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div style=" padding-left: 5%; padding-right: 5%; text-align: left !important;" class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" style="font-weight: bold;">generate report</h5>    
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('views.print_generate_blood_test') }}" method="POST">
                                        <input type="hidden" name="id" value="{{data.id}}">
                                        <div class="form-group">
                                          <label for = patient_name>patient name:</label> <br>
                                          <input style="background-color: rgba(128, 128, 128, 0.355);" value="{{data.patient_name}}" type="text" name="patient_name"  id="patient_name" readonly>
                                        </div>
                
                                        <br>
                
                                        <div class="form-group">
                                            <label for = doctor_name>doctor name:</label> <br>
                                            <input style="background-color: rgba(128, 128, 128, 0.355);" value="{{data.doctor_name}}" type="text" name="doctor_name"  id="doctor_name" readonly>
                                        </div>
                
                                        <br>
                
                                        <div class="form-group">
                                            <label for = prescription>prescription:</label> <br>
                                            <textarea style="background-color: rgba(128, 128, 128, 0.355);" value="{{ data.prescription }}"  id="prescription" name="prescription" rows="3"readonly>{{ data.prescription }}</textarea>
                                        </div>
                
                                        <br>
                
                                        <div class="form-group">
                                            <label for = medicalTest>medical test:</label> <br>
                                            <input style="background-color: rgba(128, 128, 128, 0.355);" value="{{data.medical_test}}" type="text" name="medicalTest"  id="medicalTest" readonly>
                                        </div>
                
                                        <br>
                
                                        <div style="text-align: center;">
                                          <button type="submit" id="save_button">
                                            <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/check-circle.svg" alt="">
                                            confirm</button>
                                        </div>
                                      </form>
                                </div>
                            </div>
                        </div> 
                      </div>
                
                
                
                
                
                      <div id="modalForXray{{data.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div style=" padding-left: 5%; padding-right: 5%; text-align: left !important;" class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" style="font-weight: bold;">generate report</h5>    
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('views.print_generate_xray') }}" method="POST">
                                        <input type="hidden" name="id" value="{{data.id}}">
                                        <div class="form-group">
                                          <label for = patient_name>patient name:</label> <br>
                                          <input style="background-color: rgba(128, 128, 128, 0.355);" value="{{data.patient_name}}" type="text" name="patient_name"  id="patient_name" readonly>
                                        </div>
                
                                        <br>
                
                                        <div class="form-group">
                                            <label for = doctor_name>doctor name:</label> <br>
                                            <input style="background-color: rgba(128, 128, 128, 0.355);" value="{{data.doctor_name}}" type="text" name="doctor_name"  id="doctor_name" readonly>
                                        </div>
                
                                        <br>
                
                                        <div class="form-group">
                                            <label for = prescription>prescription:</label> <br>
                                            <textarea style="background-color: rgba(128, 128, 128, 0.355);" value="{{ data.prescription }}"  id="prescription" name="prescription" rows="3"readonly>{{ data.prescription }}</textarea>
                                        </div>
                
                                        <br>
                
                                        <div class="form-group">
                                            <label for = medicalTest>medical test:</label> <br>
                                            <input style="background-color: rgba(128, 128, 128, 0.355);" value="{{data.medical_test}}" type="text" name="medicalTest"  id="medicalTest" readonly>
                                        </div>
                
                                        <br>
                
                                        <div style="text-align: center;">
                                          <button type="submit" id="save_button">
                                            <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/check-circle.svg" alt="">
                                            confirm</button>
                                        </div>
                                      </form>
                                </div>
                            </div>
                        </div> 
                      </div>
                  
                
                    
                      {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
          </div>

          <div id="record_menu" class="col-md-2">
              <div class="box">
                <form class="form-inline" action="{{ url_for('views.search_medical_record') }}" method="POST">
                  <span style="font-size: 12px; padding-left: 5px;">patient name:</span>
                  <input id="authenticate_field" type="text" name="patient_medical_record" id="patient_medical_record">
                  <button id="authenticate_button" type="submit">
                    <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/check-circle.svg" alt="">
                    search</button>
                  </form>
          
                  <a style="display: block;" id="authenticate_button" href="{{ url_for('views.staff') }}">
                    <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/stars.svg" alt="">
                    clear</a>
              </div>
          </div>
      </div>
  </div>




  <div id="bottom_menu" class="d-flex flex-row fixed-bottom justify-content-between">
    <form class="form-inline" action="{{ url_for('views.search_medical_record') }}" method="POST">
      <input id="mini_field" type="text" name="patient_medical_record" id="patient_medical_record" placeholder="patient name">
      <span id="invis_space">-</span>
      <button id="mini_button" type="submit">
        <img style="width: 30px;" src="/static/resources/check-circle.svg" alt=""></button>
      </form>

      <li>
        <a style="display: block;" id="mini_button" href="{{ url_for('views.staff') }}">
          <img style="width: 30px;" src="/static/resources/stars.svg" alt=""></a>
      </li>
      </div>






    
  
    


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>