<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='doctor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='alert.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='web-fix.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/static/resources/favicon.svg">
    <link rel="preload" as="image" href="/static/resources/body9.svg" />

    <title>doctor | apollo</title>
</head>
<body>
  {% for message in get_flashed_messages() %}
  <div id="notif_alert_doctor" class="alert alert-primary alert-dismissible fade show fixed-top" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
  </div>
{% endfor %}


    

    <div id="tempo_alt" class="fluid-container fixed-top">


      <nav class="navbar navbar-expand-md justify-content-center">

        <a href="{{ url_for('views.home') }}" class="navbar-brand m-2">
            <img id="home_icon" src="/static/resources/apollo_logo.svg" alt="">
        </a>
    
        <span class="mt-2 mr-2 mb-2" style="pointer-events: none; font-size: 12px; text-align: left;"><b>doctor</b> <br>department</span>
    
        <ul class="navbar-nav mx-auto m-0">
        </ul>
    
        <button class="navbar-toggler ms-auto m-2" type="button" data-toggle="collapse" data-target="#mynav">
          <img style="width: 30px;" src="/static/resources/list.svg" alt="">
        </button>
    
        <div class="collapse navbar-collapse" id="mynav">
          <ul class="navbar-nav mx-auto">    

            <li class="nav-item m-2">
              <a id="active_page" class="nav-link" href="#">appointment records</a>
          </li>
      
          </ul>
    
          <ul class="navbar-nav ms-auto">
            <li class="nav-item m-2">
              <a id="logout_button" class="nav-link" href="{{ url_for('auth.logout') }}">log out</a>
              
            </li>
          </ul>
        </div>
    </nav>
    </div>

    

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
          <div style=" padding-left: 5%; padding-right: 5%;" class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title " style="font-weight: bold;">select doctor</h5>    
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <div class="modal-body">  
                  <form action="{{ url_for('views.doctor_app') }}" method="POST">
                      <div class="form-group"> 
                            <label for="doctor_name">doctor name:</label> <br>
                            <select name="doctor_name"  id="doctor_name" required aria-placeholder="select doctor">
                                <option style="display: none;" value="" disabled selected></option>
                                {% for doctor in d_data %}
                                    <option value="{{ doctor.name }}">{{ doctor.name }} - {{doctor.specialty}}</option>
                                {% endfor %}
                            </select>
                      </div>

                      <br>

                      <div style="text-align: center;">
                        <button type="submit" id="save_button">
                          <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/check-circle.svg" alt="">
                          confirm</button>
                      </div>
                        
                  </form>
              </div>
          </div>
      </div>
  </div>








  <div id="medform_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div style=" padding-left: 5%; padding-right: 5%;" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " style="font-weight: bold;">add medical record</h5>    
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body">  
                

              <form action="{{ url_for('views.insert_medical_record') }}" method="POST">
                
                <div class="form-group">
                  <label for="patientName">patient name:</label> <br>
                  <input type="text"  id="patientName" name="patientName" required>
                </div>
                
                <br>
        
                <div class="form-group">
                  <label for="doctorName">doctor name:</label> <br>
                  <input type="text"   id="doctorName" name="doctorName" required>
                </div>
        
                <br>
                
                <div class="form-group">
                  <label for="symptoms">symptoms:</label> <br>
                  <textarea  id="symptoms" name="symptoms" rows="2" required></textarea>
                </div>
        
                <br>
                
                <div class="form-group">
                  <label for="prescription">prescription:</label> <br>
                  <textarea  id="prescription" name="prescription" rows="2" required></textarea>
                </div>
        
                <br>

                <div class="form-group">
                  <label for="medicalTest">medical test:</label>
                  <div class="input-group">
                    <select style="-webkit-appearance: none;" name="medicalTest" id="medicalTest"  required aria-placeholder="select Doctor">
                      <option style="display: none;" value="" disabled selected></option>
                      <option value="X-ray">x-ray</option>
                      <option value="Blood Test">blood test</option>
                      <option value="None">none</option>
                    </select>
                  </div>
                </div>
                
                <br>
        
                <div style="text-align: center;">
                  <button id="save_button" type="submit" >
                    <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/floppy.svg" alt="">
                    save</button>
                  
                </div>
        
              </form>

            </div>
        </div>
    </div>
</div>






  
  <div style="margin: 3%;" class="fluid-container">
    <div class="row">
        <div class="col-md-7">
            <div class="box">
              <div class="table-responsive">
                <table class="table table-striped table-borderless table-hover">
                  <thead>
                    <tr>
                      <th id="colored_col" scope="col">doctor name</th>
                      <th id="colored_col" scope="col">patient name</th>
                      <th id="colored_col" scope="col">room number</th>
                      <th id="colored_col" scope="col">date</th>
                      <th id="colored_col" scope="col">time</th>
                    </tr>
                  </thead>
                  <tbody>
            
                    {% for appointment in appointment_data %}
                    <tr>
                      <th scope="row">{{ appointment.doctor_name }}</td>
                        <td>{{ appointment.patient_name }}</td>
                        <td>{{ appointment.room_number }}</td>
                        <td>{{ appointment.appointment_day }}</td>
                        <td>{{ appointment.appointment_time }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>

        <div id="record_menu" class="col-md-2">
            <div class="box">
              <button style="margin-top: 0%;" id="authenticate_button" data-toggle="modal" data-target="#medform_modal">
                <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/plus-circle.svg" alt="">add medical record
              </button>

              <p>‎ </p>

              <button style="margin-top: 0%;" id="authenticate_button" data-toggle="modal" data-target="#myModal">
                <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/search.svg" alt="">
                select doctor</button>

              <a style="display: block;" id="authenticate_button" href="{{ url_for('views.doctor_app') }}">
                <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/stars.svg" alt="">
                clear</a>
                
            </div>
        </div>

        <div id="medform" class="col-md-3">
          <div class="box">
            <h5 style="font-weight: bold; text-align: center; background-color: #5E9CD5; padding: 12px; margin: 0px -15px;">medical record form</h5>
            <form action="{{ url_for('views.insert_medical_record') }}" method="POST">
              <br>
              
              <div class="form-group">
                <label for="patientName">patient name:</label> <br>
                <input type="text" id="patientName" name="patientName" required>
              </div>
              
      
              <div class="form-group">
                <label for="doctorName">doctor name:</label> <br>
                <input type="text"  id="doctorName" name="doctorName" required>
              </div>
      
              
              <div class="form-group">
                <label for="symptoms">symptoms:</label> <br>
                <textarea  id="symptoms" name="symptoms" rows="2" required></textarea>
              </div>
      
              
              <div class="form-group">
                <label for="prescription">prescription:</label> <br>
                <textarea  id="prescription" name="prescription" rows="2" required></textarea>
              </div>
      
              
              <div class="form-group">
                <label for="medicalTest">medical test:</label>
                <div class="input-group">
                  <select style="-webkit-appearance: none;" name="medicalTest" id="medicalTest" required aria-placeholder="select Doctor">
                    <option style="display: none;" value="" disabled selected></option>
                    <option value="X-ray">x-ray</option>
                    <option value="Blood Test">blood test</option>
                    <option value="None">none</option>
                  </select>  
                </div>
              </div>
              
              <br>
      
              <div style="text-align: center;">
                <button id="save_button" type="submit" >
                  <img style="width: 15px; margin-bottom: 3px; margin-right: 3px;" src="/static/resources/floppy.svg" alt="">
                  save</button>
                
              </div>
      
            </form>
          </div>
      </div>
    </div>
</div>






  
<div id="bottom_menu" class="d-flex flex-row fixed-bottom justify-content-between">
<li>
  <button id="mini_button" data-toggle="modal" data-target="#medform_modal">
    <img style="width: 30px;" src="/static/resources/plus-circle.svg" alt="">
  </button>
</li>

  <li>
    <button id="mini_button" data-toggle="modal" data-target="#myModal">
      <img style="width: 30px;" src="/static/resources/search.svg" alt=""></button>

    </li>

    <li>
      <a style="display: block;" id="mini_button" href="{{ url_for('views.doctor_app') }}">
        <img style="width: 30px;" src="/static/resources/stars.svg" alt=""></a>
    </li>
    
  


  </div>






    




    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>