#notif_alert, #notif_alert_doctor {
    border-radius: 0px;
    color: black;
    background-color: #5E9CD5;
    /* margin-left: 86.5%;
    margin-left: 3%;
    margin-right: 2%;
    margin-top: 100px; */
    text-align: center;
    width: 100%;
    font-weight: bold;
    
    z-index: 999;

    animation: entrance 0.5s forwards, exit 0.5s forwards 5s;
}

#notif_alert_index {
    border-radius: 15px;
    color: black;
    background-color: #5E9CD5;
    margin-left: 75%;
    margin-right: 2%;

    animation: entrance-alt 0.5s forwards, exit-alt 0.5s forwards 5s;
}

@keyframes entrance {
    0% {
        transform: translateY(-140%);
    }

    100%  {
        transform: translate(0);
    } 
}

@keyframes exit {
    0% {
        transform: translate(0);
    }

    100%  {
        
        transform: translateY(-140%);
    } 
}

@keyframes entrance-alt {
    0% {
        transform: translateX(140%);
    }

    100%  {
        transform: translateX(0);
    } 
}

@keyframes exit-alt {
    0% {
        transform: translateX(0);
    }

    100%  {
        transform: translateX(140%);
    } 
}

@media screen and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    #notif_alert_index {
        margin-left: 25%;
    }
}

@media screen and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    #notif_alert_index {
        margin-left: 25%;
    }
}